@using TRan.CinemaUniverse.Web.Areas.Administration.ViewModels.Actors
@model PagedList.IPagedList<ActorEditViewModel>
@using PagedList.Mvc;
@section stylelibs {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "All Actors";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create", "Actors")
</p>

<table class="table table-hover table-responsive">
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th></th>
    </tr>
    @foreach (var actor in Model)
    {

        <tr>
            <td>
                @actor.Name
            </td>
            <td>
                <img src="@actor.ImageUrl" alt="@actor.Name" style="max-width:100px" />
            </td>
            <td>                
                @Html.ActionLink("Edit", "Edit", new { id = actor.Id })
                @Html.ActionLink("Delete", "Delete", new { id = actor.Id })
            </td>
        </tr>
    }
</table>

<div class="text-center">
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

    @Html.PagedListPager(Model, page => Url.Action("All",
        new { page }))
</div>

