@using TRan.CinemaUniverse.Web.Areas.Administration.ViewModels.Genres
@model PagedList.IPagedList<GenreEditViewModel>
@using PagedList.Mvc;
@section stylelibs {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "All Genres";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create", "Genres")
</p>

<table>
    <tr>
        <th>Genre</th>
        <th></th>
    </tr>
    @foreach (var genre in Model)
    {

        <tr>
            <td>
                @genre.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = genre.Id })
                @Html.ActionLink("Delete", "Delete", new { id = genre.Id })

            </td>
        </tr>
    }
</table>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("All",
    new { page }))
</div>

